pandas
numpy
matplotlib
scikit-learn
opencv-python
pytesseract
lxml
shapely
Pillow
pdf2image
tqdm
seaborn
jupyter
ipykernel
evaluate
git+https://github.com/huggingface/transformers.git
datasets
seqeval
accelerate
